<h2>Update users</h2>
<form action="<%=`/users/${user._id}/update?_method=PUT`%>" method="POST">
    <div class="row">
       <div class="col-5">
              <input type="text" class="form-control" name="name"
              id="inputName" value="<%= user.name %>" autofocus>
       </div>
    </div>
    <div class="row">
       <div class="col-5">
              <input type="number" class="form-control" name="age"
              id="inputAge" value="<%= user.age %>" required>
       </div>
    </div>
    <div class="row">
       <div class="col-5">
              <input type="text" class="form-control" name="email"
              id="inputEmail" value="<%= user.email %>" required>
       </div>
    </div>
    <div class="row">
       <div class="col-5">
              <input type="password" class="form-control" name="password"
              id="inputPassword" value="<%= user.password %>" required>
       </div>
    </div>
    <div class="row">
           <div class="col-3">
                  <button type="submit" class="btn btn-primary">Update</button>
           </div>
    </div>
</form>